<h1>My app</h1>
<p *ngIf="false">card works!</p> <!--ngIf serve para ocultar/matar um componente local ou no arquivo principal para ocultar todo o componente-->
<button>Ola mundo</button>
<ul>
    <li *ngFor="let p of produtos; let i = index" (click)="remover(i)">{{i}}--{{p}}</li><!--renderiza os produtos do contructor em lista-->
    <button (click)="adicionar()">Adicionar Notebook</button>
    <button (click)="removerUltimo()">Remover último</button>
    <p>clique em um item para remover</p>
</ul>


<div [ngSwitch]="menuType">
    <div *ngSwitchDefault><!--Escolho uma permissão padrão para renderizar quando não for declarado no card.component-->
        <ul>
            <li>editar perfil</li>
            <li>adicionar cartão</li>
        </ul>
    </div>
    <div *ngSwitchCase="'admin'">
            <li>editar perfil</li>
            <li>adicionar cartão</li>
            <li>gerenciar usuarios</li>
    </div>
    <div *ngSwitchCase="'superUser'">
            <li>editar perfil</li>
            <li>adicionar cartão</li>
            <li>gerenciar usuarios</li>
            <li>gerenciar admins</li>
    </div>
</div>